.todoForm{
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    width: 500px;
    margin-top: 50px ;
    border-radius: 10px;


}
.modernInput{
    width: 80%;
    border: none;
    color: black;
    font-size: 20px;

}
.modernInput:focus{
    outline: none   ;
}

.modernButton{
    border-radius: 8px;
    border: none;
    width: 20%;
    background-color:rgb(255, 213, 0);
    padding: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}